In [48]:
import pandas as pd
import numpy as np
df = pd.read_csv('../../data/titanic_train.csv')
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
#Сколько людей купило билет с ценой от 5 до 20
df[(df['Fare']>5) & (df['Fare'] <20)].count()

PassengerId    498
Survived       498
Pclass         498
Name           498
Sex            498
Age            382
SibSp          498
Parch          498
Ticket         498
Fare           498
Cabin           22
Embarked       498
dtype: int64

In [53]:
#Нарисовать график boxplot цены билета тех кто не выжил

AttributeError: 'DataFrame' object has no attribute 'Platform'